.full-stats table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .full-stats th, .full-stats td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
  }
  
  .full-stats th {
    background-color: #ffffff;
  }
  
  .full-stats tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  .full-stats tr:hover {
    background-color: #ffffff;
  }